---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description: string;
	horizontalScroll?: boolean;
	currentPath?: string;
}

const { title, description, horizontalScroll = false, currentPath } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=DM+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class:list={[
			"text-stone-900 antialiased overflow-x-hidden",
			horizontalScroll ? "bg-stone-900" : "bg-stone-50",
		]}
	>
		<Header horizontalScroll={horizontalScroll} currentPath={currentPath} />
		<main
			class:list={[
				horizontalScroll &&
					"relative h-screen mt-0 overflow-x-auto overflow-y-hidden scroll-smooth snap-x snap-mandatory flex [scrollbar-gutter:stable] [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-track]:bg-stone-800 [&::-webkit-scrollbar-thumb]:bg-stone-600 [&::-webkit-scrollbar-thumb]:rounded-full",
				!horizontalScroll && "pt-[65px]",
			]}
		>
			<slot />
		</main>
		{!horizontalScroll && <Footer />}
	</body>
</html>
